.adjust-img {
    border-radius: 1em;
    min-width: 200;
    min-height: 200;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(75, 75, 75);
    padding: 1em;
    flex-wrap: wrap;
}

.price {
    font-size: 20px;
    color: rgb(237, 66, 66);
}

.car-name {
    color: gold;
    font-size: 20px;
}

.discret {
    padding-top: 1em;
}

.minimal-font {
    font-size: 12px;
    color: grey;
}